<%# 呼び出し元: profiles/edit, profiles/account %>
<div id="title" class="hidden"><%= title %></div>

<div id="contents" class="bg-white w-280px flex flex-col p-4 mr-4 relative text-sm">
    <a href="/profiles/edit" class="pb-2 hover:underline">公開用プロフィール</a>
    <a href="/profiles/account" class="py-2 hover:underline border-t">アカウント</a>
    <a href="" class="py-2 hover:underline border-t">パスワード</a>
    <a href="" class="py-2 hover:underline border-t">メールアドレスと通知</a>
    <a href="" class="py-2 hover:underline border-t">セキュリティ</a>
    <a href="" class="py-2 hover:underline border-t">二段階認証</a>
    <a href="" class="py-2 hover:underline border-t">アプリケーション</a>
    <a href="" class="py-2 hover:underline border-t">ミュート設定</a>
    <a href="" class="py-2 hover:underline border-t">ベータ版切り替え</a>
    <a href="" class="py-2 hover:underline border-t">Googleアナリティクス設定</a>
    <a href="" class="pt-2 hover:underline border-t">Organization設定</a>
</div>

<script>
    $(()=>{
        $("#contents").children().filter((i,a)=>{
            if(a.text === $("#title").text()){
                $(`#contents a:eq(${i})`).addClass("font-bold")
            }
        })
    })
</script>