<%# モーダル本体のテンプレート %>

<a href="/" class="p-3 my-1 hover:bg-gray-100 flex items-center text-xs text-gray-500 <%= border %>" data-turbolinks="false">
    <i class="fa <%= icon %> mr-3 inline-block w-2"></i>
    <span><%= title %></span>
</a>