<%# ロゴのすぐ右にある下矢印ボタンを押すと表示されるモーダル %>

<% modal_id = 1 %>

<div class="hidden modal<%= modal_id %> bg-white absolute z-10 top-9 -left-20 cursor-pointer rounded-sm shadow w-56">
    <%= render "layouts/header/modals/contents/body"  , {title:"Qiita", icon:"fa-check", border:"border-b"} %>
    <%= render "layouts/header/modals/contents/header", {title:"ログイン中のチームがありません"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"Qiita Teamsにログイン...", icon:"fa-sign-in-alt"} %>
</div>