@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
    以下で実装に足りないクラスを追加しちゃいます。
    tailwind.config.jsで追加するのが正しいやり方ですが、
    面倒なので今回は省略します。ちゃんとやりたい人は修正してみよう。
*/

.mw-1088 {
  width: 100%;
  max-width: 1088px;
}
.text-11px {
  font-size: 11px;
}
.bg-qiita {
  background: #55c500;
}
.bg-qiita-h:hover {
  background: #45751f;
}
.bg-qiita-sub {
  background: #568f28;
}
.bg-qiita-notify {
  background: #e14b22;
}
.text-qiita {
  color: #55c500;
}
.text-qiita-h:hover {
  color: #55c500;
}
.text-qiita-sub {
  color: #568f28;
}
.border-qiita-3 {
  border: 3px solid #55c500;
}
.bg-qiita-sub:hover {
  background: #45751f;
}
.period {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.period-active,
.period:hover {
  color: #55c500;
  border-bottom: 2px solid #55c500;
}
#preview h1,
#preview h2,
#preview h3 {
  width: 100%;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #999;
}
#preview h1 {
  font-size: 30px;
  padding: 12px 0;
  margin: 24px 0;
}
#preview h2 {
  font-size: 24px;
  padding: 10px 0;
  margin: 20px 0;
}
#preview h3 {
  font-size: 18px;
  padding: 8px 0;
  margin: 16px 0;
}
#preview li {
  list-style-type: disc;
  list-style: inside;
}
pre {
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  background: rgb(55, 55, 55);
}
.h-screen-header {
  height: calc(100vh - 56px);
}
