<div class="w-72">
    <%
        ads = [
            "https://tpc.googlesyndication.com/simgad/4184501152671230819?sqp=4sqPyQQ7QjkqNxABHQAAtEIgASgBMAk4A0DwkwlYAWBfcAKAAQGIAQGdAQAAgD-oAQGwAYCt4gS4AV_FAS2ynT4&rs=AOga4qkc3bPj_4JSs0Yi81ZbXbMOJn1U0w",
            "https://cdn.qiita.com/assets/public/online_meetup_2020_sidebar/advent_calendar_2020_online_meetup-757c788ae4ed630428aa863a3d985824.png",
            "https://cdn.qiita.com/assets/public/qiita_jobs_big3campaign/banner-300x250-31e017c77ed4cd65133e44c5c8659826.png"]
    %>
    <% ads.each do |a| %>
        <img class="mb-4 cursor-pointer" src="<%=a%>" alt="ad">
    <% end %>
</div>