<header class="h-14 flex items-center justify-center px-12 bg-qiita text-white">
    <div class="mw-1088 flex justify-between">
        <%= render "layouts/header/left" %>
        <%= render "layouts/header/right" %>
    </div>
</header>