<footer class="w-full h-12 bg-gray-200 text-white flex justify-end items-center border-t text-sm">
    <button class="bg-qiita bg-qiita-h px-3 py-1 mr-1"><i class="fa fa-upload pr-1"></i>Kiita に投稿</button>
    <button class="bg-qiita bg-qiita-h px-2 py-1 mr-4"><i class="fa fa-caret-up"></i></button>
</footer>