<%# 呼び出し元: app/views/articles/new.html.erb %>
<div id="newHeader" class="h-9 leading-9 bg-white flex items-center justify-between text-xs">
    <div id="newHeaderLeft" class="flex text-gray-400 w-1/2 border-r justify-between">
        <div class="flex">
            <span class="bg-white px-8 hover:underline">本文</span>
            <a href="/" class="bg-gray-100 px-4 hover:underline"><i class="fa fa-book pr-1"></i>良い記事を書くには</a>
        </div>
        <div class="flex text-xl pr-4 relative items-center">
            <%= render "articles/templates/newModal", {className: "fa fa-image", width: 64, text: "添付する画像を選択またはドラッグ&ドロップ", modalId: 1} %>
            <%= render "articles/templates/newModal", {className: "far fa-smile", width: 24, text: "絵文字を選択", modalId: 2} %>
            <%= render "articles/templates/newModal", {className: "fa fa-question-circle text-gray-600", width: 32, text: "Markdownの書き方", modalId: 3} %>
            <div id="previewLeft2"  class="w-4 text-center border h-7 flex items-center bg-white mr-1 cursor-pointer hidden text-xs ml-3"><i class="w-4 fa fa-angle-double-left"></i></div>
            <div id="previewNeutral2" class="w-4 text-center border h-7 flex items-center bg-white mr-1 cursor-pointer hidden text-xs ml-1"><i class="w-4 fa fa-angle-left"></i></div>
        </div>
    </div>
    <div id="newHeaderRight" class="w-1/2 bg-gray-100 text-gray-400 h-9 flex items-center px-2">
        <div id="previewLeft"   class="w-4 text-center border h-7 flex items-center bg-white mr-1 cursor-pointer"><i class="w-4 fa fa-angle-left"></i></div>
        <div id="previewRight"  class="w-4 text-center border h-7 flex items-center bg-white mr-1 cursor-pointer"><i class="w-4 fa fa-angle-right"></i></div>
        <div id="previewNeutral1" class="w-4 text-center border h-7 flex items-center bg-white mr-1 cursor-pointer hidden"><i class="w-4 fa fa-angle-right"></i></div>
        <div id="previewRight2" class="w-4 text-center border h-7 flex items-center bg-white mr-1 cursor-pointer hidden"><i class="w-4 fa fa-angle-double-right"></i></div>
        <span class="pl-2">プレビュー</span>
        <span class="pl-2">
            <input type="checkbox" id="slideMode">
            <span class="font-bold">スライドモード</span>
        </span>
    </div>
</div>