<%# 呼び出し元: app/views/articles/new.html.erb %>
<div class="flex text-sm placeholder-gray-500">
    <%= f.text_area :body , placeholder: "プログラミング知識をMarkdown記法で書いて共有しよう", class:"p-2 w-1/2 resize-none border-r focus:outline-none", style: "height: calc(100vh - 220px);" %>
    <input type="file" id="bodyImageUpload" class="hidden">
    <div id="preview" class="p-2 w-1/2 overflow-auto break-words" style="height: calc(100vh - 220px);"></div>
    <%= render 'articles/templates/slideModePreview' %>
</div>