<%# 呼び出し元: app/views/articles/templates/_newBody.html.erb %>
<div id="slideModePreview" class="p-2 w-1/2 hidden" page="1" fullscreen="off" style="height: calc(100vh - 220px);">
    <div class="border w-full h-468px rounded flex flex-col justify-between">
        <span id="slideFirst" class="w-full inline-block h-418px flex flex-col justify-center items-center font-bold">
            <textarea id="slideModeTitle" class="w-4/5 text-center text-5xl border-b bg-white my-8 font-bold" disabled></textarea>
            <span class="text-gray-500 text-xs">by soeno_onseo</span>
        </span>
        <span id="slideSecond" class="w-full inline-block h-418px flex flex-col justify-center items-center hidden overflow-scroll">
            <div id="slideModeBody" class="bg-white p-4 break-words"></div>
        </span>
        <div class="w-full bg-qiita h-50px inner-shadow rounded-b text-white flex items-center justify-between px-6" style="background: linear-gradient(to bottom, #59bb0c 0%, #5ba720 100%);">
            <i id="slideBackwardIcon" class="slideBackward fa fa-backward text-qiita-sub"></i>
            <i id="slideForwardIcon" class="slideForward fa fa-forward cursor-pointer opacity-60 hover:opacity-100"></i>
            <span class="text-xs">
                <span id="slidePage">1</span>
                <span>/</span>
                <span>2</span>
            </span>
            <div class="w-3/5 h-2 flex cursor-pointer">
                <div class="slideBackward w-1/2 bg-white rounded-l opacity-70"></div>
                <div id="slideForwardBar" class="slideForward w-1/2 bg-qiita-sub rounded-r"></div>
            </div>
            <i id="slideFullscreen" class="fa fa-desktop cursor-pointer opacity-60 hover:opacity-100"></i>
            <span class="font-bold tracking-widest text-xl" style="font-family: 'Goldman', cursive;">Kiita</span>
        </div>
    </div>
</div>